# --- General ---
snapshots/
*.txt

# --- Java & Compilare ---
*.class
*.log
*.jar
*.war
bin/
out/
target/

# --- IDE (IntelliJ / Eclipse / VS Code) ---
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# --- OS specific ---
.DS_Store
Thumbs.db